extends ../layout
include ../includes/admin-mixins

append content
 
  .main  

append scripts

  script 
    define('editview', 
      [ 'instructors/instructorview', 'instructors/instructormodel' ], 
      function(InstructorView, InstructorModel) {

        instructorView = new InstructorView({
          model: new InstructorModel( !{ JSON.stringify(instructor) } ),
          courses: !{JSON.stringify(courses)},
          el: $('.main')
        }).render();

    });


  //- Edición de vídeos
    script 
      define('editvideosview', 
        [ 'videos/videomodel', 'videos/videoscollectionview',  'jquery' ], 

          function(VideoModel, VideoCollectionView) {
      
            var videos = new Backbone.Collection([], {
                model: VideoModel,
              });
            videos.url = '/instructors/#{instructor.id}/videos';
            
            videos.fetch({ 
              success: function(collection, response){
                  new VideoCollectionView({
                    collection: collection,
                    instructorId: '!{instructor.id}',
                    instructorName: '!{instructor.name}',
                    courses: !{JSON.stringify(courses)},
                    el: this.$('.videos')
                  }).render();
              }
            });
      });
