
mixin courseItem(name, uuid, certified)
  li.course-item
    a(href='/courses/' + uuid).course-link #{name}
      -if(certified)
        span.certified-badge(title="Certified instructor")

mixin videoItem(video)
  .span3.video-container
    a(href=video.url, target='_blank').video-link
      img.video-thumbnail(src=video.thumbnail, title="#{video.title}  (#{video.duration} secs)")
      span.locale.label(class=isoLangs.getColor(video.locale)) #{ isoLangs.get(video.locale) }
    .video-data  
      .video-caption 
        a.video-title(href=video.url, target='_blank') #{video.title}
        span.video-instructorby by 
          a(href='/instructors/' + video.instructorId) #{video.instructorName}
        p
          span.video-likes #{video.ranking.numLikes} likes, 
          span.video-dislikes #{video.ranking.numDislikes} dislikes

mixin homeEditionItem(edition)
  ul.unstyled
    li  
      p
        a( href='/courses/' + edition.courseUUID + '/editions/' + edition.id) #{edition.course.name}
        |  by 
        a(href='/instructors/' + edition.instructorId) #{edition.instructorName}
      p.edition-detail <b>#{fromNow(edition.date)}</b> #{edition.address} 
        
