<form class="well">

  <input type="hidden" name="courseName" value="{{courseName}}">   
  <input type="hidden" name="editionDate" value="{{editionDate}}"> 
  <input type="hidden" name="editionVenue" value="{{editionVenue}}"> 

  <label> Your email</label>
  <input name="from" type="email" value="{{contactrequest.from}}">

  <label>Your message</label>
  <textarea name="text" class="contact-message">{{contactrequest.body}}</textarea>

  <p>
    <input type="submit" class="btn btn-primary" value="Send"/>

</form>