<form class="well">

  <label>to</label>
  <input name="instructor" type="text" value="{{instructor.name}}" readonly>
  <input name="to" type="hidden" value="{{contactrequest.email}}" readonly>

  <label>from</label>
  <input name="from" type="email" value="{{contactrequest.from}}">

  <label>subject</label>
  <input name="subject" type="text" value="{{contactrequest.subject}}">

  <label>body</label>
  <textarea name="text" value="{{contactrequest.body}}"/>

  <input type="submit" class="btn btn-primary" value="Send"/>

</form>