<form>

  <label>Course: </label>
  <input type="text" value="{{course.name}}" disabled />
  <input type="hidden" name="courseUUID" value="{{course.uuid}}"/>    
  <label>Venue: </label>
  <input name="address" type="text" value="{{edition.address}}" required>
  <div class="map" id="map_canvas" ></div>


  <label>Date: </label>
  <input name="date" type="date" value="{{edition.date}}" required autocomplete="off" placeholder="yyyy-mm-dd">
 
  <label>Instructor: </label>
  <select name="instructorId" required>
    {{#instructors}}
      <option value="{{this.id}}" >{{this.name}}</option>
    {{/instructors}}
  </select> 

  {{#if isAdmin}}
    <label>State:</label>
    <select name="state" required>
        <option value="NEW">New</option>
        <option value="PENDING">Pending</option>
        <option value="PAID">Paid</option>
    </select>
  {{/if}} 

  <p>
    <input type="submit" class="btn btn-primary" value="Save" />

    {{#if edition.id }}
      <a href="/courses/{{course.uuid}}/editions/{{edition.id}}" class="btn cancel"><i class="icon-remove"></i>Cancel</a>
    {{else}}
      <a href="/courses/{{course.uuid}}" class="btn cancel"><i class="icon-remove"></i>Cancel</a>
    {{/if}}
  
    {{#if edition.id }}
      <a class="btn btn-danger delete" ><i class="icon-trash icon-white"></i> Delete</a>
    {{/if}}
  
  <p>
  
</form>
