<form class="well">

  <label>Course: </label>
  <select name="course" required>
    <option value="" disabled>--</option>
    {{#courses}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/courses}}
  </select>


  <label>Venue: </label>
  <input name="venue" type="text" value="{{edition.venue}}" required>

  <label>Date: </label>
  <input name="date" type="date" value="{{edition.date}}" required autocomplete="off" placeholder="yyyy-mm-dd">
 
  <label>Instructor: </label>
  <select name="instructor" required>
    <option value="" disabled>--</option>
    {{#instructors}}
      <option value="{{this.id}}" >{{this.name}}</option>
    {{/instructors}}
  </select> 

  <p>
    <input type="submit" class="btn btn-primary" value="Save" />


  {{#if edition.id }}
    <a class="btn btn-danger delete" ><i class="icon-trash icon-white"></i> Delete</a>
  {{/if}}

  <a id="list"user class="btn"><i class="icon-list"></i> List</a>
  
</form>

{{#if edition.id }}
<a id="new" href="/admin/editions/{{edition.id}}/certificates/new" class="btn btn-primary"><i class="icon-file icon-white"></i> New Certificate</a>
{{/if}}


{{#if certificates}}
  <ul>
   {{#certificates}}
      <li><a href="/admin/editions/{{this.edition}}/certificates/{{this.id}}">{{this.name}} - {{this.email}}</a></li>
    {{/certificates}}
  </ul>

{{/if}}

