<form class="well">


  <label>Course: </label>
  <input type="text" value="{{course.name}}" disabled />
  <input type="hidden" name="course" value="{{course.id}}"/>    
  <label>Venue: </label>
  <input name="venue" type="text" value="{{edition.venue}}" required>

  <label>Date: </label>
  <input name="date" type="date" value="{{edition.date}}" required autocomplete="off" placeholder="yyyy-mm-dd">
 
  <label>Instructor: </label>
  <select name="instructor" required>
    {{#instructors}}
      <option value="{{this.id}}" >{{this.name}}</option>
    {{/instructors}}
  </select> 

  <p>
    <input type="submit" class="btn btn-primary" value="Save" />


  {{#if edition.id }}
    <a class="btn btn-danger delete" ><i class="icon-trash icon-white"></i> Delete</a>
  {{/if}}

  <a href="/courses/{{course.uuid}}/editions/{{edition.id}}" class="btn cancel"><i class="icon-remove"></i>Cancel</a>
  
</form>

<a class="btn btn-primary addCertificate"><i class="icon-file icon-white"></i> New Certificate</a>

<div class="certificates"></div>
