
 <div class="row">
    <div class="span8">
      <form>
        <label class="control-label" for="email">User e-mail: </label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input class="email" name="email" type="text" value="{{user.email}}" required {{#if user.googleId}} disabled {{/if}} > 
          </div>
        </div>  

        {{#if user.name}}
          <label>User name: </label>
          <input name="name" type="text" value="{{user.name}}" disabled >
        {{/if}}

        <label>Ranking: </label>
        <input type="value" text="{{user.ranking}}" disabled/>
        
        <label>About me: </label>
        <input name="aboutMe" type="text" value="{{user.aboutMe}}" disabled >

        <label>Address:</label>
        <input name="address" type="text" value="{{user.address}}" class="input-xxlarge" disabled  >

        <label>Is admin:</label>
        <select name="admin" >
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>

        <h3>Courses:</h3>
        {{#each courses}}
            <p><input type="checkbox" name="courses_{{this.uuid}}" value="{{this.uuid}}" class="checkbox courses"> {{this.name}} 
        {{/each}}

        <h3>Certificates:</h3>
        {{#each courses}}
            <p><input type="checkbox" name="certificates_{{this.uuid}}" value="{{this.uuid}}" class="checkbox certificates"> {{this.name}} 
        {{/each}}

      

        <p>
          <input type="submit" class="btn btn-primary" value="Save" />
          {{#if user.id}}
            <a id="delete" class="btn btn-danger" ><i class="icon-trash icon-white"></i> Delete</a>
          {{/if}}
        </p>


      </form>
    </div>

    <div class="span2">
      {{#if user.googleId}}
      <img src='https://profiles.google.com/s2/photos/profile/{{user.googleId}}' class="profile-img"/>
      {{/if}}
    </div>
  </div>
</div>

