extends ../layout

include ../includes/admin-mixins

append content
 
  .main  
   
    if(locals.isAdmin)
      h3(class='edition-' + edition.state) State:
        | #{edition.state}


    p This is to certify that
    p 
      h2 #{certificate.name}
    p is hereby recongized for having succesfully completed 
    p 
      h2 #{course.name}
      a(href="/courses/" + course.uuid)  http://instructormatters/courses/#{course.uuid}

    dl.dl-horizontale
      dt Instructor:
      dd #{instructor.name}
     
      dt Date:
      dd #{edition.date}

      dt Venue:
      dd #{edition.address}

      //-dt URL
      //-dd 
      //-  a(href="/certificates/" + certificate.uuid)  http://instructormatters/certificates/#{certificate.uuid} 

      dt PDF:
      dd 
        a(href="/certificates/" + certificate.uuid + "/pdf")  http://instructormatters.com/certificates/#{certificate.uuid}/pdf


        



