extends ../layout

include ../includes/admin-mixins

append content
 
  .main  
    p 
      span Name:
      | !{course.name}
    p 
      span Description:
      | !{course.description}
    p 
      span Duration:
      | !{course.duration}

     a(href="/courses/" + course.uuid + '/edit').btn.btn-primary Edit
     a(href="/courses/").btn
      i.icon-list 
      &nbsp;List

    ul
    -editions.forEach(function (edition) {
      li  
        a(href='/courses/' + course.uuid + '/editions/' + edition.id ) !{edition.date} - !{edition.venue}
            
    -})
     a(href="/courses/" + course.uuid + "/editions/new").btn.btn-primary Add Edition
    

   
