extends ../layout

include ../includes/admin-mixins

append content
 
  .main  
    if (locals.isAdmin)  
      a(href="/courses/" + course.uuid + '/edit').btn Edit

    section.row-fluid
      h1.header-3 Description
      p #{course.description}

      h2.header-3 Details
      ul
        li #{course.duration} length.
        -if(course.link)
          li Check out the 
            a(href=course.link, target="_blank") materials
        li Show all instructors in
          a(href="/instructors/course/" + course.uuid)  Google Maps
          | .

    section.row-fluid
        
      if(course.videos.length >0)
        h1.header-3 Most valuated instructor videos
        each video in course.videos
          mixin videoItem(video)
    section.row-fluid.upcoming-editions
      h1.header-3 Upcoming
      -if(editions.length > 0) {
        ul.upcoming-list
          -editions.slice(0, 10).forEach(function (edition) {
            li  
              a(href='/courses/' + course.uuid + '/editions/' + edition.id ) #{edition.date} 
              &nbsp; - #{edition.address} (by <a href="/instructors/#{edition.instructor}">#{edition.instructorName}</a>)
          -})
      -} else {
        p No courses scheduled
      -}
      -if(locals.isCertifiedInstructor) {
        .controls-group
          a(href="/courses/" + course.uuid + "/editions/new").btn.btn-primary Add Edition
      -}
