extends ../layout
append content
    
    p Chanante ipsum dolor sit amet, incididunt ea mangurrián quis ad ut, saepe nisi gambitero. Artista ullamco, ojete moreno monetes eiusmod aliqua sed, droja  more time ojete calor cascoporro. Veniam et horcate quis tempor ojete calor veniam tempor ea incididunt adipisicing ex.
    
      .span8
        -courses.forEach(function (course) {
          .row-fluid
            h3= course.name
            p #{course.description} 
            //- each uservideos in course.videos
            each video in course.videos
              .video.span3
                a(href=video.url, target='_blank')
                  img.video-thumbnail(src=video.thumbnail, title=video.title)
                p #{video.title}
                a(href="/instructors/" + video.instructorId) #{video.instructorName}
          .row-fluid
            a.btn.btn-danger(href="/courses/" + course.uuid) more info

        -})
      .span3.soon
        h3 Upcoming
        ul.list2
          -editions.forEach( function (edition) {
            li
              h4 #{edition.course.name}
              p #{edition.date} - #{edition.address}
              //-p #{edition.course.description}
              a.btn.btn-large( href='/courses/' + edition.courseUUID + '/editions/' + edition.id)
                  &nbsp; Go!!
          -})

    if (locals.currentUser && locals.currentUser.admin) 
      a(href="/courses/new").btn.btn-primary New Course
 


