extends ../layout

include ../includes/admin-mixins

append content
 
  .main  
    p 
      span Name:
      | #{course.name}
    p 
      span Description:
      | #{course.description}
    p 
      span Duration:
      | #{course.duration}

    if (locals.isAdmin)  
      a(href="/courses/" + course.uuid + '/edit').btn.btn-primary Edit
      
    ul
    -editions.forEach(function (edition) {
      li  
        a(href='/courses/' + course.uuid + '/editions/' + edition.id ) #{edition.date} - #{edition.venue}
            
    -})

    if (locals.isAllowedInstructor)  
      a(href="/courses/" + course.uuid + "/editions/new").btn.btn-primary Add Edition
    