extends ../layout

include ../includes/admin-mixins

append content
 
  .main  

    .row
      h3 Description
      p #{course.description}
      p #{course.duration}

      if (locals.isAdmin)  
        a(href="/courses/" + course.uuid + '/edit').btn.btn-primary Edit

      p Show all instructors in
        a(href="/instructors/course/" + course.uuid)  map
        

    .row
      h3 Videos
      each uservideos in course.videos
        each video in uservideos
          .span3
            a(href=video.url, target='_blank')
              img(src=video.thumbnail, title=video.title)
            p #{video.title} by 
            a(href='/instructors/' + video.user.id) #{video.user.name}
    
    .row 
      h3 Upcoming
      ul
      -editions.forEach(function (edition) {
        li  
          a(href='/courses/' + course.uuid + '/editions/' + edition.id ) #{edition.date} - #{edition.venue}
              
      -})

      if (locals.isAllowedInstructor)  
        a(href="/courses/" + course.uuid + "/editions/new").btn.btn-primary Add Edition
