
extends ../layout

include ../includes/admin-mixins

append content
 
  .main  
   .form-actions
      if (locals.isEditionOwner)
        p State: 
          span( class="edition-#{edition.state}") #{edition.state}
      if (locals.isEditionOwner && edition.state ==  'NEW' || locals.isAdmin)
        p
          a( href='/courses/' + course.uuid + '/editions/' + edition.id + '/edit').btn.btn-primary Edit

      .row
        .span2
            img.profile(src='https://profiles.google.com/s2/photos/profile/' + instructor.oauth)
            a(href='/instructors/' + instructor.id)  #{instructor.name}
        .span8 
          h3 Edition details:
          ul.unstyled
            li Course: 
              a(href='/courses/' + course.uuid)  #{course.name}
            li Date: #{edition.date} 
            li Venue: #{edition.address}
            li
              .contact
                a( ).btn.contact.btn-primary
                  i.icon-envelope.icon-white
                  &nbsp;More info


      
  .certificates
    if (locals.isEditionOwner && edition.state != 'NEW') 
      h3 Certificates
      ul
        - certificates.forEach(function (certificate){
          li 
            if (edition.state == 'PAID' || locals.isAdmin)
              a( href='/certificates/' + certificate.uuid) #{certificate.name} - #{certificate.email}
            else
              &nbsp; #{certificate.name} - #{certificate.email}
        - })

append scripts
  if (locals.isEditionOwner && edition.state == 'NEW')
    //- Edición de certificados
    script 
      define('editview', 
        [ 'certificates/certificatemodel', 'certificates/certificatecollectionview',  'jquery' ], 

          function(CertificateModel, CertificateCollectionView) {
      

            var certificates = new Backbone.Collection([], {
                model: CertificateModel,
              });
            certificates.url = '/courses/#{course.uuid}/editions/#{edition.id}/certificates';
            
            certificates.fetch({ 
              success: function(collection, response){
                  new CertificateCollectionView({
                    collection: collection,
                    edition : '!{edition.id}',
                    courseUUID : '!{course.uuid}',
                    el: this.$('.certificates')
                  }).render();
              }
            });
      });

  script
    define('contactView',
      ['editions/contactrequestview', 'editions/contactrequestmodel', 'jquery'],

      function(ContactRequestView, ContactRequestModel) {
        var view = new ContactRequestView({
          model: new ContactRequestModel( { 
            url: '/courses/#{edition.courseUUID}/editions/#{edition.id}/contact',
            courseName: '#{course.name}',
            editionDate: '#{edition.date}',
            editionVenue: '#{edition.address}'
            }),
          instructorId: !{JSON.stringify(instructor.id)},
          el: $('.contact')
        });

      });


