
extends ../layout

include ../includes/admin-mixins

append content
 
  .main  
   .form-actions

      p
        span Course:
          a(href='/courses/' + course.uuid)  #{course.name}

      p 
        span Date: 
        | #{edition.date}
      
      p
        span Venue: 
        | #{edition.venue}

      p
        span Instructor: 
          a(href='/instructors/' + instructor.id)  #{instructor.name}
      .contact
        a( ).btn.contact
          i.icon-envelope
          &nbsp;Contact

      p
        span State:
        | #{edition.state}

      p
        if (locals.isEditionOwner && edition.state ==  'NEW')
          a( href='/courses/' + course.uuid + '/editions/' + edition.id + '/edit').btn.btn-primary Edit

      
    .certificates
    if (locals.isEditionOwner && edition.state != 'NEW') 
      ul
        - certificates.forEach(function (certificate){
          li 
            a( href='/certificates/' + certificate.uuid) #{certificate.name} - #{certificate.email}
        - })

append scripts
  if (locals.isEditionOwner && edition.state == 'NEW')
    //- Edición de certificados
    script 
      define('editview', 
        [ 'certificates/certificatemodel', 'certificates/certificatecollectionview',  'jquery' ], 

          function(CertificateModel, CertificateCollectionView) {
      

            var certificates = new Backbone.Collection([], {
                model: CertificateModel,
              });
            certificates.url = '/courses/#{course.uuid}/editions/#{edition.id}/certificates';
            
            certificates.fetch({ 
              success: function(collection, response){
                  new CertificateCollectionView({
                    collection: collection,
                    edition : '!{edition.id}',
                    courseUUID : '!{course.uuid}',
                    el: this.$('.certificates')
                  }).render();
              }
            });
      });

  script
    define('contactView',
      ['editions/contactrequestview', 'editions/contactrequestmodel', 'jquery'],

      function(ContactRequestView, ContactRequestModel) {
        var view = new ContactRequestView({
          model: new ContactRequestModel(),
          edition: !{JSON.stringify(edition)},
          adressee: !{JSON.stringify(instructor)},
          el: $('.contact')
        });

      });


