extends ../layout

include ../includes/admin-mixins

append content

  .row
    .span2
      img(src='https://profiles.google.com/s2/photos/profile/' + instructor.oauth)
    .span8
      h3 #{instructor.name} 
      p #{instructor.email}
      p #{instructor.address} 

        a(target='_blank', href='https://maps.google.es/maps?q=' + geolocation )
          &nbsp; (show in google maps)

      -if(locals.currentUser && locals.currentUser.email == instructor.email){
        a.btn.btn-primary.edit(href='/instructors/' + instructor.id + '/edit')
          i.icon-user.icon-white
          &nbsp;Edit
      -}


  -if (instructor.videos.length > 0) {
    h3 Videos:
    .row 
      -instructor.videos.forEach( function(video){
        .span4
          a(href=video.url, target='_blank')
            h4 #{video.course} (#{video.locale})
            img(src=video.thumbnail, title=video.title)
            p #{video.title} (#{video.duration} secs.)
             
      -})
  -}
 


  
