extends ../layout
include ../includes/admin-mixins

append content

  .row-fluid
    p.address #{instructor.address} 
      | 
      a(target='_blank', href='https://maps.google.es/maps?q=' + geolocation ) (show in google maps)
  .row-fluid
    .span3
      p
        img(src='https://profiles.google.com/s2/photos/profile/' + instructor.oauth)
      -if(locals.currentUser && locals.currentUser.email == instructor.email){
        p
          a.btn.btn-primary.edit(href='/instructors/' + instructor.id + '/edit') <i class="icon-user icon-white"></i> Edit
      -}

    -instructor.videos.forEach( function(video){
      .span3.video-container
        a(href=video.url, target='_blank')
          img.video-thumbnail(src=video.thumbnail, title=video.title)
          span.locale.label(class=isoLangs.getColor(video.locale)) #{ isoLangs.get(video.locale) }
        p.video-caption #{video.title} (#{video.duration} secs.)
    -})
  .row-fluid
    .span12
      ul.unstyled
        li 
          b Courses:
          ul.enumeration
            -instructor.courses.forEach( function(course){
              li= course
            -})
        //- li
        //-   b Languages:
        //-   ul.enumeration
        //-     -console.log(instructor)
        //-     -instructor.languages.split(",").forEach( function(course){
        //-       li= isoLangs.get(course)
        //-     -})


  
