extends ../layout
include ../includes/admin-mixins

append content
  .container-fluid
  section.row-fluid.map-container
    .span3.instructors
      p
       a.btn(id='certifiedButton', data-toggle='button') 
        i.icon-instructor 
        &nbsp;Certified
      .instructor-list
        -instructors.forEach(function (instructor) {
          span.instructor-item(data-certified=instructor.certified.toString(), data-id=instructor.id, data-lat=instructor.geopoint.lat, data-lng=instructor.geopoint.lng)
            -if(instructor.certified)
              span.certified-badge  
            a.instructor( href="/instructors/#{instructor.id}")
              &nbsp;!{instructor.name}
            p.address
              !{instructor.address} 
              a.location-link.hidden-phone(data-id=instructor.id, data-googleid= '/' + instructor.googleId)  
                span.location ▶
                &nbsp;View in map


        -})
        span#noInstructors(style="display:none") No instructors found

    .span9
      .map.hidden-phone //- (style="height:100%")

append scripts
  script 
    define('view', 
      [ 'instructors/instructorcollectionview' ], 

      function(CollectionView) {
        window.view = 
        new CollectionView({
          el: $('.map-container'),
          instructors: !{json}
        });
        window.view.render();
      }
    );


