extends ../layout

include ../includes/admin-mixins

append content

    -instructors.forEach(function (instructor) {
        .row
          a(href="/instructors/" + instructor._id ) 
              h5 #{instructor.name}

          .span4
            a(href=instructor.firstVideo.url, target='_blank')
              img(src=instructor.firstVideo.thumbnail, title=instructor.firstVideo.title)
              p #{instructor.firstVideo.locale}
              p #{instructor.firstVideo.title}
              p #{instructor.firstVideo.duration} secs.

    -})
