<form class="well">

  <label>Course name: </label>
  <input name="name" type="text" value="{{course.name}}" required>

  <label>Course uuid: </label>
{{#if course.id  }}
  <input name="uuid" type="text" value="{{course.uuid}}" disabled>
{{else}}  
  <input name="uuid" type="text" value="{{course.uuid}}" required>
{{/if}}  
 
  <label>Duration: </label>
  <input name="duration" type="text" value="{{course.duration}}">

  <label>Description: </label>
  <input name="description" type="text" value="{{course.description}}">

  <p>
    <input type="submit" class="btn btn-primary" value="Save" />

  {{#if course.id}}
    <a class="btn btn-danger"user id="delete"><i class="icon-trash icon-white"></i> Delete</a>
  {{/if}}

{{#if course.id  }}
  <a href="/courses/{{course.uuid}}" class="btn"><i class="icon-remove"></i> Cancel</a>
{{/if}}    
  
</form>