<div class="infoWindow">
  <a href="/instructors/{{id}}">
    <img src="https://profiles.google.com/s2/photos/profile/{{oauth}}" alt="{{name}}" class="infoWindow-img">
  </a>
  <div class="infoWindow-description">
    <a href="/instructors/{{id}}">
      <b>{{name}}</b>
    </a>
    <p class="address">{{address}}</p>
    {{#if certified}}
      <p class="certified"> Certified Instructor<span class="certified-badge"/></p>
    {{/if}}

  </div>
</div>