
<form id="instructorForm">
  <div class="row">
      <div class="span3">

        <img id="avatar" src='/img/avatar.jpg' class="profile-img"/>

      </div>
      <div class="span8">
        
        <label>Instructor name: </label>
        <input name="name" type="text" value="{{instructor.name}}" disabled >
       

        <label>About me: </label>
        <textarea rows="4" name="aboutMe" maxlength="255" class="input-xxlarge"> {{instructor.aboutMe}}</textarea>

        <label>Courses:</label>
        {{#each courses}}
            <p><input type="checkbox" name="courses_{{this.uuid}}" value="{{this.uuid}}" class="checkbox"> {{this.name}} 
              {{#if this.certExpiresDate}} <span class="certified-badge" title="Certified expires {{this.certExpiresDate}}"></span> {{/if}}
        {{/each}}
      </div>
   </div> 

   <div class="row">
    <label>Address:</label>
    <input name="address" type="text" value="{{instructor.address}}" required class="input-xxlarge"/>
    <div class="map hidden-phone" id="map_canvas" ></div>
   </div>

   
  <div class="videos row"></div>
  
  <div class="row">
   <input type="submit" id="send" class="btn btn-primary" value="Save" data-loading-text="Saving..." data-original-text="Save" />
   <a href="/instructors/{{instructor.id}}" class="btn">Cancel</a>  
   {{#if instructor.admin}}
    <a id="delete" class="btn btn-danger" ><i class="icon-trash icon-white"></i> Delete</a>
   {{/if}}
  </div>
</form>

