
<form>
   
  <p>
    <input type="submit" class="btn btn-primary" value="Save" />
    <a id="delete" class="btn btn-danger" ><i class="icon-trash icon-white"></i> Delete</a>
    <a href="/instructors/{{instructor.id}}" class="btn">Cancel</a>
  </p>
  <div class="row">
      <div class="span8">

        <label>instructor name: </label>
        <input name="name" type="text" value="{{instructor.name}}" disabled >

        <label>About me: </label>
        <input name="aboutMe" type="text" value="{{instructor.aboutMe}}">


        <label>Courses:</label>
        {{#each courses}}
            <p><input type="checkbox" name="courses_{{this.uuid}}" value="{{this.uuid}}" class="checkbox"> {{this.name}} 
        {{/each}}

        <label>Address:</label>
        <input name="address" type="text" value="{{instructor.address}}" required />
        <div class="map" id="map_canvas" ></div>

      
      </div>

      <div class="span2">
        <img src='https://profiles.google.com/s2/photos/profile/{{instructor.oauth}}' class="profile"/>
      </div>
    </div>
  </div>

  <div class="videos"></div>

</form>

