<div class="infoWindow">
  <a href="/instructors/{{id}}">
    <img src="https://profiles.google.com/s2/photos/profile/{{googleId}}" alt="{{name}}" class="infoWindow-img">
  </a>
  <div class="infoWindow-description">
    <a href="/instructors/{{id}}">
      <b>{{name}}</b>
      {{#if certified}}
        <span class="certified-badge" title="Certified Instructor"></span>
      {{/if}}
    </a>
    <p class="address">{{address}}</p>
  </div>
</div>