<div class="infoWindow">
  <a href="/instructors/{{id}}">

    <img id="avatar-{{id}}" src="/img/avatar.jpg" alt="{{name}}" class="infoWindow-img">

  </a>
  <div class="infoWindow-description">
    <a href="/instructors/{{id}}">
      <b>{{name}}</b>
      {{#if certified}}
        <span class="certified-badge" title="Certified Instructor"></span>
      {{/if}}
    </a>
    <p class="address">{{address}}</p>
  </div>
</div>
